body {
  text-align: center;
  background-color: #444;
  color: #fff;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 32px;
  margin: 0;
  padding: 20px 0 0 0;
}

h1 {
  font-weight: normal;
  background-color: #FCFE47;
  color: #000;
}

.logo {
  color: #000;
  background-color: #FCFE47;
  text-decoration: none;
}

.source {
  font-size: 20px;
  color: #FCFE47;
  text-decoration: none;
  display: block;
}

.container {
  border: 0px solid #444;
  width: 0px;
  height: 0px;
  position: absolute;
  opacity:0;
}

.border {
  border:1px solid #bbb;
  width:100%;
  height:100%;
}

#input, #output {
  width: 400px;
}

.main, .view {
  display: none;
}

.container_output {
  margin-bottom: 10px;
}
